* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    color: white;
}

.background {
    background-color:hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif; */


/*------------------------- header----------------------- */

header{
    border: 1px solid red;
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    padding: 2em;
}




/* ----------------------body--------------------------- */
.container {
    border: 1px solid red;
    display:flex;
    align-items: center;
}

.flex-child{
    border: 1px solid red;
    width: 50%;
    margin: 4em;
}


/* 
.example {
    width: 800px;
} */

.content{
    font-family: 'Poppins', sans-serif;  
}

h2{
    color: white;
    font-size: 4em;
  }

  p {
    color: white;
    font-size: 1.5em;
    /* sans-serif; */
}
  

button {
    font-size: 1.5em;
    padding: 1em;
    margin-top: 1em;
    border-radius: 50px;
    width: 10em;
    color: hsl(257, 40%, 49%)
}



/*-------------------footer*----------------*/

footer{
  height: 10em;
} 

.icons{
    border: 1px solid red;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

i {
    border: 1px solid red;
    padding: 1em 2em 1em 0.5em;
    font-size: 1.5em
} */


/* .icons {
    padding: 2em 3em 4em 2em;
    font-size: 2em
} */









