* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif; */

/* hsl(257, 40%, 49%) */

/* url(images/bg-desktop.svg) */

body {
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%) ;
    color: white;
    height:100vh;
    display: flex;
    flex-direction: column;
}

/* ------------header-----------*/

header{
    display: flex;
    justify-content: flex-start;
}

.logo {
    margin: 2em;
    ali
}

/* ------------body-----------*/

.main {
    display: flex;
    justify-content: space-evenly;
    height: 60%;
    font-family: 'Poppins', sans-serif;
}

.main div{
    width: 50%;
    margin: 2em;
}

h2{
    font-size: 3em;
}

p{
    font-size: 1.2em
}

button {
    width: 35%;
    height: 15%;
    margin-top: 1em;
    font-size: 1.5em;
    color: hsl(257, 40%, 49%);
    border-radius: 30px
}

/* ------------footer-----------*/

footer{
    height: 20%;
    display: flex;
    justify-content: flex-end
}

i {
    margin: 0.8em;
    align-self: center; 
    font-size: 2em;
}

i:nth-child(3){
    margin-right: 4em;
}








